.card
    border: 1.5px solid #EAEBED
    border-radius: 10px
    width: 255px
    &__img
        height: 230px
        width: 100%
        background: #F0F1F5
        overflow: hidden
        &-wrap
            height: 230px
        &-block
            height: 100%
            display: flex
            justify-content: center
            align-items: center
            img
                max-width: 100%
                max-height: 100%
