.container
    width: 1110px
    margin: auto
.container_big
    width: 100%
    padding: 0 30px
@media (max-width: 1199px)
    .container
        width: 980px
        margin: auto
@media (max-width: 991px)
    .container
        width: 740px
        margin: auto
@media (max-width: 767px)
    .container
        width: 550px
        margin: auto
    .container_big
        padding: 0 15px
@media (max-width: 575px)
    .container
        width: 100%
        padding-left: 8px
        padding-right: 8px
        margin: auto
    .container_big
        padding: 0 8px
.btn
    display: inline-block
    padding: 15px 25px
    background: #6F73EE
    border: 1px solid #6F73EE
    text-decoration: none
    border-radius: 5px
    font-size: 16px
    line-height: 23px
    color: #FFFFFF
    &:hover
        background-color: transparent
        color: #6F73EE
